.someInput {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background-color: transparent;
    color: inherit;
    outline: none;
    width: 347px;
    height: 15px;
    margin-bottom: 14px;
}
